@import './variables.scss';

.books {
    display: flex;
    position: relative;
    width: 1440px;
    padding-top: 105px;
    @media (max-width: 1170px) {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 20px;
    }
    &-list {
        justify-self: flex-start;
        display: flex;
        flex-direction: column;
        gap: 23px;
        padding: 45px 100px 50px 165px;
        &__item {
            @include fontFamily;
            @include fontStyle(12px, 500);
            color: $graySub;
            line-height: 15px;
            letter-spacing: 0%;
            text-align: left;
            text-transform: capitalize;
            transition: .3s;
            cursor: pointer;
            width: 200px;
            &.active {
                @include fontStyle(16px, 700);
                color: $grayMain;
            }
            &:hover {
                color: $grayMain;
            }
        }
        &__bg {
            position: absolute;
            z-index: -10;
            background: $bgGenreList;
            width: 416px;
            height: 710px;
            @media (max-width: 1170px) {
                top: 30px;
            }
        }
    }
    &__circle {
        position: absolute;
        top: 155px;
        left: 150px;
        width: 6px;
        height: 6px;
        background: $purpleMain;
        border-radius: 50%;
        transition: .3s;
        @media (max-width: 1170px) {
            display: none;
        }
    }
    &-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 76px;
        grid-row-gap: 96px;
        position: absolute;
        top: 146px;
        left: 356px;
        padding-bottom: 200px;
        @media (max-width: 1170px) {
            position: static;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;
            padding-left: 30px;
        
        }
        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 424px;
            height: fit-content;
            gap: 36px;
        }
        &__img {
            width: 212px;
            height: 300px;
        }
        &__text {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: fit-content;
            gap: 16px;
        }
        &__title {
            @include fontFamily();
            @include fontStyle(16px, 700);
            color: $grayMain;
            line-height: 20px;
            letter-spacing: 0%;
            text-align: left;
        }
        &__authors {
            display: flex;
            width: 110px;
            height: fit-content;
        }
        &__author {
            @include secondFamily();
            @include fontStyle(10px, 400);
            color: $graySub;
            line-height: 14px;
            letter-spacing: 0%;
            text-align: left;
            text-transform: capitalize;
        }
        &__desc {
            @include secondFamily();
            @include fontStyle(10px, 400);
            color: $graySub;
            line-height: 14px;
            letter-spacing: 0%;
            text-align: left;
            text-transform: capitalize;
        }
        &__sale {
            @include fontFamily();
            @include fontStyle(13px, 700);
            color: $grayMain;
            line-height: 20px;
            letter-spacing: 0%;
            text-align: left;
        }
        &__buyBtn {
            white-space: nowrap;
            border: 0;
            outline: 0;
            background: transparent;
            box-sizing: border-box;
            border: 1px solid $blueColor;
            @include fontFamily;
            @include fontStyle(8px, 700);
            color: $blueColor;
            line-height: 10px;
            letter-spacing: 0%;
            text-align: left;
            text-transform: uppercase;
            padding: 18px 66px 17px 67px;
            cursor: pointer ;
            transition: .3s;
            text-align: center;
            &:hover {
                background: $blueColor;
                color: #FFFFFF;
            }
        }
        &__cartBtn {
            white-space: nowrap;
            border: 0;
            outline: 0;
            background: transparent;
            box-sizing: border-box;
            border: 1px solid $grayBorder;
            @include fontFamily;
            @include fontStyle(8px, 700);
            color: $graySub;
            line-height: 10px;
            letter-spacing: 0%;
            text-align: left;
            text-transform: uppercase;
            padding: 18px 55px 17px 67px;
            cursor: pointer ;
            transition: .3s;
            text-align: center;
            &:hover {
                background: $graySub;
                color: #FFFFFF;
            }
        }
        &__load {
            position: absolute;
            bottom: 88px;
            left: 373px;
            @media(max-width: 1170px) {
                position: static;
            }
        }
        &__ratingList {
            display: flex;
        }
        &__ratingItem {
            width: 12px;
            height: 12px;
            background: $starNonActive;
            clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        }
    }
}