//colors
$grayMain: #1c2a39;
$graySub: #5C6A79;
$grayLight: #EFEEF6;

$whiteMain: #ffffff;

$purpleMain: #534FD2;
$purpleLight: #9E98DC;
$purpleHover: #cbc6f1;
$bgGenreList: rgb(239, 238, 246);

$pinkColor: #FF8FE6;
$redColor: #7B1010;

$blueColor: rgb(76, 61, 178);

//mixins
@mixin fontFamily {
    font-family: "Montserrat", sans-serif;
}

@mixin secondFamily {
    font-family: "Open Sans", sans-serif;
}

@mixin flexCenter {
    display:  flex;
    justify-content: center;
    align-items: center;
}

@mixin fontStyle($fontSize, $fontWeight) {
    font-size: $fontSize;
    font-weight: $fontWeight;
}

@mixin promoStyle($height, $color) {
    position: absolute;
    z-index: 1;
    height: $height;
    background: $color;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
}